* {
    box-sizing: border-box;
}

/* HEADER */

.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.logoHeader {
    grid-area: logo;
    padding: 0 2rem;
    height: 2.813rem;
}

.main-nav {
    display: flex;
    align-items: center;
    grid-area: navbar;
}

.nav-link {
    text-align: center;
    padding: 2rem;
}

a.nav-link {
    color: black;
}

.headerSignup {
    grid-area: button;
    padding: 2rem;
}

/* VITRINE HEBERGEMENT */

.hostItems {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}

.hostStore {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.storeTitle {
    grid-column: 1/-1;
}

.popularity {
    display: grid;
    row-gap: 2rem;
    align-items: start;

}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo - button"
            "navbar navbar navbar";
    }

    .main-nav {
        order: 2;
    }

    .nav-link {
        width: 50%;
    }

    .headerSignup {
        order: 1;
    }
}

@media screen and (min-width: 701px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo - navbar button";
    }
}

@media (min-width: 950px) {
    .hostStore {
        grid-template-columns: repeat(3, 1fr);
    }

    .popularity{
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat (3, 9rem);
    }
}

@media (max-width: 1450px) {
    .hostItems {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}
