* {
    box-sizing: border-box;
}

.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.logoHeader {
    grid-area: logo;
    padding: 0 2rem;
    height: 2.813rem;
}

.main-nav {
    display: flex;
    align-items: center;
    grid-area: navbar;
    
}

.nav-link{
    text-align: center;
    padding: 2rem;
}

.headerSignup{
    grid-area: button;
    padding: 2rem;
}


/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo . button"
            "navbar navbar navbar";
    }

    .main-nav {
        order: 2;
    }

    .nav-link{
        width: 50%;
    }

    .headerSignup{
        order: 1;
    }
}

@media screen and (min-width: 601px) {
    .header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar button";
    }
}
