@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

body {
    font-family: "Raleway";
}

a {
    text-decoration: none;
}

h2{
    font-family: 'Raleway-SemiBold';
}

img{
    object-fit: cover;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}

a.headerSignup {
    color: #0065fc;
    cursor: pointer;
    font-family: "Raleway-SemiBold";
}


.nav-link {
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    transition: color 315ms ease-in;
    transition: border-top 315ms ease-in;
    
}

.nav-link[data-active="true"] {
    color: #0065fc;
}

.headerSignup {
    padding: 2rem;
    transition: border-top 315ms ease-in;
}

/* SEARCH & FILTERS */

/* SEARCH */
.main {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.topSearchTitle{
    font-family: 'Raleway-SemiBold';
    margin-bottom: 0.5rem;
}

.topSearchSubtitle{
    margin-top: 0;
}


.searchForm {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: auto;
}

.locatorIcon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.searchbar {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-family: "Raleway-SemiBold";
}

.searchbar::placeholder {
    color: black;
}

.searchSubmit {
    background-color: #0065FC;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    font-family: 'Raleway-SemiBold';
}

.searchSubmit:hover {
    background-color: #2c80fe;
}


/* FILTERS */


.filters h2{
    font-family: 'Raleway-SemiBold';
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}


.filters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filter{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 315ms ease-in;
}

.filter:hover{
    background-color: #F2F2F2;
}

.filterIcon {
    background-color: #DEEBFF;
    color: #0065fc;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.filterName{
    cursor: pointer;
    font-family: 'Raleway-SemiBold';
    margin: 0 1rem;
}

/* RESULTAT RECHERCHE */

.answer{
    display: flex;
    align-items: center;
}

.answerIcon {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.answerIcon i {
    color: #0065fc;
}


/* Vitrine hébergement */


.hostStore{
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 2rem;
}

.storeTitle h2{
    margin: 0;
}

.cardStyle{
    background-color: white;
    padding: 0.3rem;
    border-radius: 1rem;
}

.cardStyle a{
    color: black;
}

.cardFigure {
    margin: 0;
}

figcaption h3{
    margin: 0 0.5rem;
    font-family: 'Raleway-SemiBold';
}

p.cardInfo{
    margin: 0.2rem 0.5rem 1rem 0.5rem;
    font-size: 0.9rem;
}

.rate{
    color: #d9d9d9;
    margin : 0.7rem 0 0.3rem 0.5rem;
}

.fa-star[data-active="true"]{
    color: #0065fc;
}

.hostCardImg {
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.popularity{
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 2rem;
}

.popularityTitle{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.popularCardContent {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.popularCardContentImg{
    position: relative;
    max-width: 33%;
    min-width: 33%;
    width: 33%;
    min-height: 100%;
}

.popularCardContentImg img{
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popularCardContentInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoTop h3{
    margin: 0 0 0.2rem 0.5rem;
}



/* Footer */

footer{
    background-color: #d9d9d9;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.footerColumn{
    display: flex;
    flex-direction: column;
}

.footerLink{
    margin: 0.3rem 0;
    color: black;
}

.footerLink:hover{
    text-decoration: underline;
}


/* Media Queries */

@media screen and (max-width: 700px) {
    
    /* HEADER */
    
    .nav-link[data-active="true"] {
        border-bottom: 3px solid #0065fc;
    }
    
    .nav-link[data-active="false"] {
        border-bottom: 3px solid #F2F2F2;
        transition: border-bottom 315ms ease-in;
    }
    
    .nav-link:hover {
        border-bottom-color: #0065fc;
        color: #0065fc;
    }
    
    a.headerSignup{
        border-bottom: 3 px solid #F2F2F2;
    }
    
    /* FOOTER */
    footer{
        flex-direction: column;
    }
    
}

@media screen and (min-width: 701px) {
    
    /* HEADER */

    .nav-link[data-active="true"] {
        border-top: 3px solid #0065fc;
    }

    a.headerSignup{
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }
  
    a.nav-link:hover {
        border-top-color:  #0065fc;
        color: #0065fc;
    }

    a.headerSignup:hover {
        border-top-color:  #0065fc;
    }
}
